<div id="<%= dom_id split, :card_content %>" class="flex-1 px-3 py-4 flex flex-col justify-between <%= split.receipt&.processed? ? 'bg-gray-800 group-hover:border-blue-500 group-hover:shadow-lg group-hover:shadow-blue-500/20' : 'bg-gray-800/40' %>">
  <% if split.receipt&.processed? %>
    <%= link_to split_path(split), class: "absolute inset-0 z-10" do %>
    <% end %>
  <% end %>
  <div>
    <strong class="font-large">Total:</strong>
    <span>£<%= split.total %></span>
  </div>
  <div class="flex justify-end items-end">
    <% if split.receipt.processing? %>
      <span class="inline-block animate-spin"><%= icon "retry", css_class: "w-11 h-11 text-violet-400" %></span>
    <% elsif split.receipt.failed? %>
      <%= link_to process_receipt_split_path(split), data: { turbo_method: :post }, class: "relative z-20 cursor-pointer group/retry" do %>
        <%= icon "x_circle", css_class: "w-11 h-11 text-red-400 group-hover/retry:hidden" %>
        <%= icon "retry", css_class: "w-11 h-11 text-violet-400 hidden group-hover/retry:block" %>
      <% end %>
    <% end %>
  </div>
</div>
