<% content_for :title, "My Splits | Split Me" %>

<div class="w-full max-w-3xl mx-auto">

  <% if alert.present? %>
    <div class="flex justify-center mb-5">
      <p class="py-2 px-3 bg-red-900/30 text-red-400 font-medium rounded-md inline-block" id="alert"><%= alert %></p>
    </div>
  <% end %>

  <div class="w-full flex justify-center">
    <%= form_with model: Split.new, multipart: true, local: true do |form| %>
      <%= form.fields_for :receipt, Receipt.new do |receipt_form| %>
        <%= receipt_form.file_field :file, accept: "image/*,application/pdf,text/plain", class: "hidden", id: "receipt-upload", onchange: "this.form.submit()" %>
      <% end %>
      <%= form.button type: "button", onclick: "document.getElementById('receipt-upload').click()", class: "p-2 rounded-full bg-green-700 hover:bg-green-600 transition cursor-pointer" do %>
        <%= icon "plus", css_class: "w-6 h-6 text-white" %>
      <% end %>
    <% end %>
  </div>

  <div id="splits" class="space-y-4 my-6">
    <% if @splits.any? %>
      <% @splits.each do |split| %>
        <div class="relative group">
          <%= render split %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10 text-gray-400">Click the + button to create your first Split!</p>
    <% end %>
  </div>
</div>
